<phpunit colors="true" strict="true">
    <testsuites>
        <testsuite name="all">
            <file>tests/Http/RequestTest.php</file>
            <file>tests/Http/CookieTest.php</file>
            <file>tests/Http/ResponseTest.php</file>
            <file>tests/Http/HeadersTest.php</file>
            <file>tests/Http/RoutesTest.php</file>
            <file>tests/Http/RouterTest.php</file>
            <file>tests/Http/MiddlewareTest.php</file>
            <file>tests/Http/SessionTest.php</file>
            <file>tests/ContainerTest.php</file>
            <file>tests/ConfigTest.php</file>
        </testsuite>
        <testsuite name="Request">
            <file>tests/Http/RequestTest.php</file>
        </testsuite>
        <testsuite name="Cookie">
            <file>tests/Http/CookieTest.php</file>
        </testsuite>
        <testsuite name="Response">
            <file>tests/Http/ResponseTest.php</file>
        </testsuite>
        <testsuite name="Headers">
            <file>tests/Http/HeadersTest.php</file>
        </testsuite>
        <testsuite name="Routes">
            <file>tests/Http/RoutesTest.php</file>
        </testsuite>
        <testsuite name="Router">
            <file>tests/Http/RouterTest.php</file>
        </testsuite>
        <testsuite name="Middleware">
            <file>tests/Http/MiddlewareTest.php</file>
        </testsuite>
        <testsuite name="Session">
            <file>tests/Http/SessionTest.php</file>
        </testsuite>
        <testsuite name="Container">
            <file>tests/ContainerTest.php</file>
        </testsuite>
        <testsuite name="Config">
            <file>tests/ConfigTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix="Interface.php">.</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
    </filter>
</phpunit>